.leiden-transcription hi[rend="superscript"] {
    vertical-align: super;
  }
  
  .leiden-numbering  {
    margin-right: 1em; 
  }

  .leiden-transcription {
    font-family: NewAthena;
  }

.single-space-holder::after { content: '\0020'; }

